<!DOCTYPE html>
<html>
<head>
  <title>Batson Draft Assistant</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="draftApp" ng-controller="playersController">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Batson Draft Assistant</a>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h3>My Team</h3>
      <div class="panel">
        <table class="table table-bordered">
          <tr ng-repeat="player in drafted_players | filter:myTeamFilter">
            <td>{{ player.position_name }}</td> 
            <td>{{ player.name }}</td>
            <td>{{ player.team }}</td> 
            <td>{{ player.bye_week }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
